/*https://tailwindcss.com/docs/customizing-colors
use the Sky pallette from this website.*/
/*Need to change text in sidebar to links, not divs*/
body, html {
    height: 100%;
    width: 100%;
    margin: 0;
  }
  :root{
    --color1:skyblue;
    --background-color:
  }
.grid-container{
    display: grid;
    grid-template-columns: repeat(19, minmax(50px, 1fr));
    grid-template-rows: repeat(19, minmax(50px, 1fr));

}
.header{
    width: auto;
    height: auto;
    background-color: #e0f2fe ;
    grid-column:5/20;
    grid-row:1/3;
    display: grid;
    grid-template-rows: 1;
    grid-template-columns: repeat(20,1fr);
    align-items: center;
}
.headerSVG{
    width: 40px;
    height: 40px;
}
#searchSVG{
    grid-column: 2;
}
#searchbar{
    grid-column: 3/12;
    height: 30px;
    border-radius: 20px;
    background-color: var(--background-color);
}
#notificationSVG{
    grid-column:15;
}
#profilePicture{
    grid-column: 16;
    width:fit-content;
    text-wrap: nowrap;
}
#profileName{
    font-size: x-large;
    grid-column:17/18;
    width: fit-content;
    text-wrap: nowrap;
}



.nav{
    width: auto;
    height: auto;
    background-color: #e0f2fe;
    color: white;
    grid-column: 5/20;
    grid-row: 3/5;
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: 1;
    gap: 10px;
}
#navProfile{
    grid-row: 3;
}
#handleContainer{

}
#greeting{

}
#handle{

}
.navButton{
    align-self: center;
    width: 100px;
    height: 45px;
    border-radius: 20px;
    background-color: var(--color1);
    color:white;
}
#newButton{
    grid-column: 16;
}
#uploadButton{
    grid-column: 17;
}
#shareButton{
    grid-column: 18;
}









.sidebar{
    width: auto;
    height: auto;
    background-color: var(--color1);
    color: white;
    grid-column: 1/5;
    grid-row: 1/20;
}
li{
    display: flex;
    align-items: center;
}
.sidebarHeaderContainer{
    display: flex;
    align-items: center;
}
#sidebarHeaderImg{
    width: 100px;
    height: 100px;
}
#sidebarHeader{
    font-size: xx-large;
}
.sidebar ul{
    list-style-type: none;
    
}
.sidebarText{
    margin-left: 20px;
    font-size: large;
}
.sidebarImg{
    width: 50px;
    height: 50px;
}
.sideList2{
    margin-top:50px;
}














.announcements{
    width: auto;
    height: auto;
    background-color: #fb7185;
    color: white;
    grid-column: 15/20;
    grid-row:5/13;
}
.content-container{
    width: auto;
    height: auto;
    background-color: #bfdbfe;
    color: white;
    grid-column: 5/15;
    grid-row:5/20;

}
.trending{
    width: auto;
    height: auto;
    background-color: plum;
    color: white;
    grid-column: 15/20;
    grid-row:13/20;
}